  <div class="card mb-2 text-center bg-dark">


    <shared-lazy-image
      [url]="gif.images.downsized_medium.url"
      [alt]="gif.title || 'No name'"
      ></shared-lazy-image>
      
    TODO: Crear imagen
    <!-- <img [src]="gif.images.downsized_medium.url"
      [alt]="gif.title"
      class="card-img-top"> -->
    <!--Fin seccion imagenes-->

    <!--Opcion 1 sino viene titulo-->
    <div class="card-body text-white">
      <p class="card-text">
        <!--Si no viene titulo que ponga 'No title'-->
        {{gif.title || 'No title'}}
      </p>
    </div>

    <!--Opcion 2 sino viene titulo-->
    <!-- <div *ngIf="gif.title" class="card-body text-white">
      <p class="card-text">
        <!--Si no viene titulo que ponga 'No title'-->
        <!-- {{gif.title || 'No title'}} -->
      <!-- </p>
    </div> --> -->

  </div>
